.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }
.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
.form-register .form-control:focus {
z-index: 2;
}
ul.error{
    background-color: white;
}
li{
    color: red;
}
#error{
    color: red;
}