<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for( 'static', filename='socketio.js') }}"></script>
    <title>Chat</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>

    </nav>

    <div id="main-section">
        <!-- Room selection side bar -->
        <nav id="sidebar">
            <h4>ROOMS</h4>
            {% for room in rooms %}
                <p class="select-room">{{ room|title }}</p>
            {% endfor %}
        </nav>

        <!-- Message area -->
        <div id="sidebar-pannel">
            <!-- display message -->
            <div id="display-message-section">

            </div>

            <!-- Input message -->
            <div id="input-area">
                <input type="text" id="user_message" placeholder="type here" autocomplete="off"> 
                <button type="button" id="send_message">SEND</button>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        const username = `{{ username }}`; //Create a variable named username where we take the username from the backend.
    </script>
</body>
</html>