{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>

    <div class = "Instructions">
        <p> Hello, rock, paper, scissors is a game of luck where you will be playing against another person, and both of you have to make a choice between rock, paper, or scissors at the same time. In this case, you will be playing against the computer. 
            <br><br>
            <b> Rock beats scissors, scissors beats paper, and paper beats rock.</b>
            <br><br>
            <p> Please have fun playing with our app! </p>  
        </p>
    </div>
{% endblock content %}