<!-- Redirect to this page when the user successfully logins -->

{% extends "layout.html" %}
{% block content %}
    <button id="restart" class="Restart-btn" onClick="restartGame()"> Restart Game </button>

  <div class="Score">
    <h3> The score </h3>
    <br>
    <span id="user-score"> 0 </span> : <span id="comp-score"> 0 </span>
    <p> user : comp </p>
  </div>

  <p> Make your move user </p>

  <div class="Choices">
    <div class="choice" id="r">
      <img src="{{ url_for('static', filename='images/rock.png') }}" alt="rock">
    </div>
    
    <div class="choice" id="p">
      <img src="{{ url_for('static', filename='images/paper.png') }}" alt="paper">
    </div>

    <div class="choice" id="s">
      <img src="{{ url_for('static', filename='images/scissor.png') }}" alt="scissor">
    </div>
  </div>

  <div class ="Result">
    <p id="resultMessage"> Click any of the three emojis to start playing </p>
  </div>

  <div class = "Instructions">
    <p> Hello, rock, paper, scissors is a game of luck where you will be playing against another person, and both of you have to make a choice between rock, paper, or scissors at the same time. In this case, you will be playing against the computer. <b> Rock beats scissors, scissors beats paper, and paper beats rock.</b> </p>
  </div>


  <script src="{{ url_for('static', filename='functions.js') }}"></script>
{% endblock content %}