{% extends "layout.html" %}
{% block content %}
    <h1 id="lobby">Lobby</h1>

    <div class="row">
        <div class="col-md-6">
          <h2>Create a game</h2>
          <!--<form action="/create_room" method="POST">
            <button type="submit" id="create_room_btn" class="btn btn-primary">Create Game</button>
          </form>-->
          <button type="submit" id="create_room_btn" class="btn btn-primary">Create Game</button>
        </div>
        <div class="col-md-6">
          <h2>Join a game</h2>

          <form action="/join_room" class="join-room" method="POST">

            {{ form.roomID.label(class="form-label") }}
            {{ form.roomID(class="form-control") }}    

            {{ form.submit(class="btn btn-dark") }}
          </form>
        </div>
    </div>

    <div class="container-fluid" style="display:none">
      <div class="row justify-content-center align-items-center" style="height: 100vh">
          <div class="col-12 col-md-6 col-lg-4">
              <h1 class="text-center">Waiting for another player to join the game...</h1>
              <!--
              <p class="text-center">You, {{ username }}, are currently in room <strong>{{ room_id }}</strong></p>
              -->
              <p class="text-center">You, {{ username }}, are currently in room <strong id="room_id"></strong></p>
          </div>
      </div>
    </div>
      <!-- Create a variable named username where we take the username from the backend. -->
      <script type="text/javascript">
        const username = `{{ username }}`;
      </script>
      
      <script src="{{ url_for('static', filename='socketio.js') }}"></script>
{% endblock content %}
