<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body onload="welcome();">

<h1>Rock Paper Scissors:
    Login
</h1>

<form action="{{url_for('home_page')}}" method="get" enctype="multipart/form-data">
<div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
</div>

<div>
    <label for="pass">Password (8 characters minimum):</label>
    <input type="password" id="pass" name="password" minlength="8" required>
</div>

<input type="submit" value="Login">
</form>

<p>Not yet registered? Register now!</p> 
<form action="{{ url_for('signup_page') }}" method="get">
    <input type="submit" value="Register">
</form>

<script src="functions.js"></script>
</body>
</html>