{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock css %}
{% block content %}
<body>

  <h1> Welcome {{ username }} !</h1>
  <div> Here is some information about {{ user.username }}. </div>
  <div>Played games: {{ user.played }}</div>
  <div>Won games: {{ user.wins }}</div>
  <div>Current rank: {{ rank }}</div>

  {% if user.username == username %}
    <form class="form-signin" action="{{url_for('profile_page', username=user.username)}}", method="POST">
        <!-- <input type="text", name="newUsername", placeholder="New Username", required, class="form-field"> -->
        {{ form.newUsername.label(class="form-label") }}
        {{ form.newUsername(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-dark") }}
    </form>
  {% endif %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p id="error">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

</body>
{% endblock content%}