<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Profile</title>
</head>
<body>
    <h1> Welcome back {{ user.username }} !</h1>
    <div> Here is some information about yourself. </div>
    <div>&nbsp&nbspPlayed games: {{ user.played }}</div>
    <div>&nbsp&nbspWon games: {{ user.wins }}</div>
    <div>&nbsp&nbspCurrent rank: {{ rank }}</div>

    <form action="/profile/signout" method="get">
    <input type="submit" value="Sign out">
    </form>

    <form action="/leaderboard/" method="get">
    <input type="submit" value="Check leader board">
    </form>
--------------------------------------------
left unfinished

</body>
</html>