<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% if title %}
            <title>Rock Paper Scissors - {{ title }}</title>
        {% else %}
            <title>Rock Paper Scissors</title>
        {% endif %}
    </head>

    <body>
        <form class="form-register", method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" name="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">

            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" class="form-control" placeholder="Password" required="">

            <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
            <input type="password" name="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required="" autofocus="">
            
            <button class="btn btn-lg btn-dark btn-block" type="submit">Register</button>
          </form>
    </body> 
</html>