{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 100vh">
            <div class="col-12 col-md-6 col-lg-4">
                <h1 class="text-center">Waiting for another player to join the game...</h1>
                <p class="text-center">You, {{ username }}, are currently in room <strong>{{ room_id }}</strong></p>
            </div>
        </div>
    </div>
{% endblock content %}
